body
{ font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 1440px;
  height: 3300px;
  background: #fff; 
  color: #434455;
  text-decoration: none;
  position:relative;
  left:auto;
  top:auto;
  box-sizing:border-box; 
  display: flexbox; 
  align-items:center;
  padding:0%;
  flex-direction:row;
  border-radius:0%;
  box-shadow:0%;}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    background: #fff; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);}
.logo{ 
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
       /* line-height: 21px; */ 
      line-height: 1.16667;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-left: 156px;}
      .web-top{ color: #4d5ae5; }
      .studio-top{ color: black; }
  .studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .studio:hover{ color:#404bbf;  }
  .studio:focus{
   color:#404bbf;
  }
  .port{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .port:hover{color:#404bbf;  }
   .port:focus{color:#404bbf;  }
  .contact{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
.contact:hover{ color:#404bbf;}
.contact:focus{ color:#404bbf;}

.mail{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover{ color:#404bbf;}
.mail:focus{ color:#404bbf;}
.tel{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.tel:hover{ color:#404bbf;}
.tel:focus{ color:#404bbf;}

.effective {
  text-align: center;
    background-color:#2e2f42 ;
    color: #fff;
    padding: 60px 20px;
    height: 600px;
    font-weight: 700; }
   .effective-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
   }
.button{
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
border: 1px solid #000;
border-radius: 4px;
padding: 16px 32px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
color: #fff; }
button:hover{
  background-color: #404BBF;}
button:focus{
  background-color: #404BBF;}
.features{ 
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    justify-content: space-around; 
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;  
  }
.team{
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #f4f4fd;}
  .list-our{
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;}
      .list-our-team{
        background-color: #FFFFFF; 
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);}
      .list-team {
        text-transform: capitalize;
        color: #2e2f42 ;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;    }
        .profession{
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455;    }
 .portfolio{ 
  text-align: center;
    justify-content: space-around;
    flex-wrap: wrap; }
       .ourport {
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;}
      .list-portfolio{
        width: 360px;
height: 420px;
background: #fff;
      }
footer {
background-color:#2e2f42 ;
color: #fff;
width: 1440px;
height: 312px;
text-transform: uppercase; }
   footer.logo{ 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5 ; 
    margin-left: 156px;}
     .web{  color: #4d5ae5; }
     .studio{  color: #fff; }
.text-increase{
  font-family: "Roboto", sans-serif;
  width: 264px;
  height: 112px;
  text-align:left;
  margin-left: 156px;
  text-align:left;
  margin-left: 156px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  line-height: 1.5;;
}



a{  text-decoration: none; color: black; }
ul{ list-style-type:none;}