body {
  font-family: "Roboto", sans-serif; 
  color: #434455;
  background: #fff; }
.logo{ 
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px; 
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;}
  span.logo-black{ color: black; }
  .studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; }
  .studios:hover{ color:#404bbf;  }
  .studios:focus{ color:#404bbf;  }
  .port{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: #2e2f42;  }
  .ports:hover{color:#404bbf;  }
  .ports:focus{color:#404bbf;  }
  .contact{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; }
.contacts:hover{ color:#404bbf;}
.contacts:focus{ color:#404bbf;}
.address{
  font-style: normal;}
.mail{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;}
.mails:hover{ color:#404bbf;}
.mails:focus{ color:#404bbf;}
.tel{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455; }
.tels:hover{ color:#404bbf;}
.tels:focus{ color:#404bbf;}
.effective {
  text-align: center;
    background-color:#2e2f42 ;
    color: #fff;
    font-weight: 700; }
   .effective-text{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;   }
.button{
cursor: pointer;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
background: #4d5ae5;
color: #fff; }
.button:hover{
  background-color: #404BBF;}
.button:focus{
  background-color: #404BBF;}
 .strategy{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42 ;}
  .p-strategy{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    }
  .punctuality{
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42 ;  }
  .p-punctuality{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  }
  .diligence{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;  }
  .p-diligence{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  }
  .technologies{
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42 ;}
  .p-technologies{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  }
.team{ background: #f4f4fd;
  text-transform: capitalize;
      color: #2e2f42; }
  .list-our{
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;    }
      .list-our-team{  background-color: #FFFFFF;        }
      .list-team {
        text-transform: capitalize;
        color: #2e2f42 ;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;    }
        .profession{
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: #434455;  }
          .ourport {
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #2e2f42;}
      .list-portfolio{
        width: 360px;
        height: 420px;
        background: #fff;      }
.footer {
background-color:#2e2f42 ;}
   .footer.logo{ 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5 ; }
    span.logo-white{  color: #fff; }
.text-increase{
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  line-height: 1.5;}

a{  text-decoration: none; color: black; }
ul{ list-style-type:none;}